# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: geojson>=2.0.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (5.8.0)
Requirement already satisfied: six in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.6.3)
Requirement already satisfied: ipython-genutils in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from traitlets>=4.3.0->gmaps) (4.4.2)
Requirement already satisfied: pickleshare in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (1.0.15)
Requirement already satisfied: setuptools>=18.5 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (47.3.1.post20200622)
Requirement already satisfied: pygments in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (2.7.4)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.8.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: wcwidth in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.2.0)
Requirement already satisfied: jupyter-core in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-client in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: tornado>=4.2 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: pyzmq>=17 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.0.0)
Requirement already satisfied: prometheus-client in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.0)
Requirement already satisfied: argon2-cffi in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: nbconvert in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: jinja2 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.2)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.0.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: cffi>=1.0.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: defusedxml in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: testpath in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: bleach in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: pywinpty>=0.5 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: zipp>=0.5 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.4.0)
Requirement already satisfied: pycparser in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: nest-asyncio in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: async-generator in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.9)
Requirement already satisfied: webencodings in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\patrice\anaconda3\envs\pythondata\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
city_weather_df = pd.read_csv("../WeatherPy/output_data/cities2.csv")
city_weather_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Muscat,23.6139,58.5922,62.60,77,20,4.61,OM,1612496929
1,Avarua,-21.2078,-159.7750,84.20,70,20,4.61,CK,1612496904
2,Hervey Bay,-25.2986,152.8535,84.99,57,64,5.99,AU,1612497112
3,Thompson,55.7435,-97.8558,-11.20,77,90,8.05,CA,1612497072
4,Hilo,19.7297,-155.0900,71.60,73,75,16.11,US,1612496910
...,...,...,...,...,...,...,...,...,...
586,Tahoua,14.8888,5.2692,64.40,19,0,6.91,NE,1612497269
587,Lumphat,13.4878,106.9816,88.25,37,35,6.55,KH,1612497269
588,Gemeente Wageningen,51.9667,5.6667,43.00,93,90,4.61,NL,1612497269
589,Rūdsar,37.1376,50.2880,48.20,100,40,2.30,IR,1612497269
590,Doka,13.5167,35.7667,63.37,28,0,10.16,SD,1612497270

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_weather_df[["Lat", "Lon"]].astype(float)
humid = city_weather_df["Humidity"].astype(float)

max_humid = city_weather_df["Humidity"].max()
max_humid

100

In [19]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
clean_weather_df = city_weather_df.loc[(city_weather_df["Max Temp"] <= 85) & (city_weather_df["Max Temp"] >= 70)\
                                       & (city_weather_df["Cloudiness"] <= 30) & (city_weather_df["Humidity"] <50)]
clean_weather_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
37,Hong Kong,22.2855,114.1577,75.00,49,20,8.05,HK,1612496919
71,Busselton,-33.6500,115.3333,73.99,41,1,1.99,AU,1612496831
107,Ouadda,8.0777,22.4007,70.84,22,0,8.25,CF,1612497140
130,Tezpur,26.6333,92.8000,72.55,41,0,5.97,IN,1612496941
191,Malakal,9.5334,31.6605,72.63,21,0,13.94,SS,1612497162
201,Kibala,9.1104,18.3463,75.20,23,0,5.37,TD,1612497164
232,Kalas,18.1667,74.8000,74.08,31,0,9.86,IN,1612497173
243,San Rafael,-34.6177,-68.3301,72.39,32,0,3.60,AR,1612497176
257,Bouna,9.2667,-3.0000,74.17,22,25,5.19,CI,1612497179
261,Chatrapur,19.3500,84.9833,74.55,46,0,4.29,IN,1612497180
341,Jega,12.2175,4.3792,71.06,21,0,12.59,NG,1612497202
344,Māngrol,21.1167,70.1167,70.50,36,0,12.82,IN,1612497204
412,Codrington,-38.2667,141.9667,70.50,37,26,5.53,AU,1612497221
435,Dwārka,22.2394,68.9678,71.42,43,0,14.25,IN,1612497227
440,Odienné,9.5100,-7.5692,71.24,24,0,3.22,CI,1612497228
463,Maltahöhe,-24.8333,16.9833,73.04,25,0,17.85,NaN,1612497235
495,Koutiala,12.3917,-5.4642,71.64,21,12,5.01,ML,1612497244
508,Hirara,24.8000,125.2833,73.40,49,20,10.36,JP,1612497247
519,Gourcy,13.2167,-2.3500,70.68,21,0,8.84,BF,1612497249
552,Leer,8.3018,30.1418,73.72,21,0,8.52,SS,1612497259
572,Verāval,20.9000,70.3667,72.10,36,0,9.60,IN,1612497263

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:

hotel_df = clean_weather_df[["City", "Country", "Lat", "Lon"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

           City Country      Lat       Lon Hotel Name
37    Hong Kong      HK  22.2855  114.1577
71    Busselton      AU -33.6500  115.3333
107      Ouadda      CF   8.0777   22.4007
130      Tezpur      IN  26.6333   92.8000
191     Malakal      SS   9.5334   31.6605
201      Kibala      TD   9.1104   18.3463
232       Kalas      IN  18.1667   74.8000
243  San Rafael      AR -34.6177  -68.3301
257       Bouna      CI   9.2667   -3.0000
261   Chatrapur      IN  19.3500   84.9833
341        Jega      NG  12.2175    4.3792
344     Māngrol      IN  21.1167   70.1167
412  Codrington      AU -38.2667  141.9667
435      Dwārka      IN  22.2394   68.9678
440     Odienné      CI   9.5100   -7.5692
463   Maltahöhe     NaN -24.8333   16.9833
495    Koutiala      ML  12.3917   -5.4642
508      Hirara      JP  24.8000  125.2833
519      Gourcy      BF  13.2167   -2.3500
552        Leer      SS   8.3018   30.1418
572     Verāval      IN  20.9000   70.3667

In [32]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius" : 5000,
    "type": "lodging",
    "key": g_key
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row['Lat']
    lon = row['Lon']

    # add keyword to params dict
    params['location'] = f"{lat},{lon}"

    # assemble url and make API request
   
    response = requests.get(base_url, params=params).json()
    

    
    try:
        
        
        hotel_df.loc[index, 'Hotel Name'] = response[0]['name']
       
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure